@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Hind:wght@300;400;500;600;700&family=PT+Sans:wght@400;700&display=swap');

/*
  font-family: 'Cabin', sans-serif;
font-family: 'Hind', sans-serif;
font-family: 'PT Sans', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
}

// $fontPrimary: 'Ubuntu', sans-serif;
$fontPrimary: 'Cabin', sans-serif;
$colorPrimary: rgb(41, 41, 41);
$colorSecondary: rgb(138, 138, 138);

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontPrimary;
  color: $colorPrimary;
  letter-spacing: 0.025rem;
}
h2 {
  font-size: 2rem;
}
p {
  font-family: $fontPrimary;
}
a {
  text-decoration: none;
  font-family: $fontPrimary;
  font-weight: 900;
  color: $colorPrimary;
}
i {
  color: $colorPrimary;
}
.title-faded {
  color: $colorSecondary;
}
.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}
.fade-in.appear {
  opacity: 1;
}

nav {
  z-index: 100;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  border-bottom: 1px solid rgb(231, 231, 231);
  box-shadow: 0px -2px 5px 1px #35353593;

  h3 {
    margin-left: 1em;
    color: $colorPrimary;
  }
  // i {
  //   font-size: 1.5em;
  //   margin-left: 1em;
  //   color: $colorPrimary;
  // }
  .nav-links {
    margin-right: 2em;
    font-size: 0.9em;
    .nav-link {
      margin-left: 1.5em;
    }
  }
  .nav-link:hover,
  .nav-link:focus {
    color: $colorSecondary;
  }
}

.header-container {
  margin: 0 1em 5em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  // text-align: center;

  h1 {
    font-size: 3.75rem;
  }
  p {
    font-size: 1.5rem;
    color: $colorSecondary;
  }
  .header-btns {
    display: flex;
    align-items: center;
    margin-top: 2em;
    font-size: 1.25rem;
    .contact-btn {
      text-align: center;
      width: 50%;
      background-color: rgb(240, 240, 240);
      color: $colorPrimary;
      padding: 0.75em 1em;
      border-radius: 1px;
      transition-duration: 250ms;
    }
    .contact-btn:hover,
    .contact-btn:focus {
      background-color: rgb(218, 218, 218);
    }
    .resume-btn {
      width: 45%;
      margin-left: 1em;
      i {
        margin-right: 0.25em;
      }
    }
    .resume-btn:hover,
    .resume-btn:focus {
      color: $colorSecondary;
      i {
        color: $colorSecondary;
      }
    }
  }
  .header-socials {
    // position: absolute;
    // top: 1em;
    // right: 1em;
    display: flex;
    // flex-direction: column;
    // margin-top: 2em;
    font-size: 1.5rem;
    i {
      margin: 0.25em 0.5em 1em 0.15em;
      transition-duration: 250ms;
    }
  }
  .header-socials i:hover,
  .header-socials i:focus {
    color: $colorSecondary;
  }
}

.skills {
  margin-top: 20em;
  p {
    margin-top: 0.75em;
    color: $colorSecondary;
  }
  margin: 0 1em;

  .skills-grid {
    display: grid;
    margin: -22em auto 0 auto;
    // max-width: 1400px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-auto-rows: 100px 75px 75px 50px 20px 100px 20px 50px 100px;
    grid-template-areas:
      '. . . . cb . . . . . . .'
      'hb . . . . . . . jb . . .'
      '. . . . . . . . . . . rb'
      '. . . . . . . . . . . .'
      '. . . . . . . . . . . .'
      '. . . . . . . . . . gb .'
      'sb . . . . . . . . eb . .'
      '. . . . . . wb . . . . .'
      '. . . bb . . . . . . . .';
  }
  .skills-item h4,
  .skills-item i {
    transition-duration: 200ms;
  }
  .skills-item h4 {
    font-size: 0.65rem;
    opacity: 0;
    margin-top: 0;
    padding-top: 0;
  }
  .skills-item i {
    font-size: 2.25rem;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .skills-item:hover {
    i {
      color: $colorSecondary;
    }
    // background-color: black;
    h4 {
      opacity: 0.5;
    }
  }

  .html-box {
    grid-area: hb;

    background-color: #f0652900;
    i {
      color: #f0652965;
    }
  }
  .css-box {
    grid-area: cb;
    align-self: flex-end;
    background-color: rgba(106, 179, 253, 0);
    i {
      color: rgba(106, 179, 253, 0.623);
    }
  }
  .js-box {
    grid-area: jb;
    background-color: #f0da4f00;
    align-items: flex-start;
    i {
      color: #f0da4f86;
    }
  }
  .react-box {
    grid-area: rb;
    align-self: flex-start;
    background-color: #61dcfb00;
    i {
      color: #61dcfba8;
    }
  }
  .sass-box {
    grid-area: sb;
    align-self: flex-end;
    background-color: rgba(204, 102, 153, 0);
    i {
      align-self: flex-end;
      color: rgba(204, 102, 153, 0.432);
    }
  }
  .git-box {
    grid-area: gb;
    background-color: #d8d8d800;
    align-items: flex-end;
    i {
      align-self: flex-end;
      color: #b3b3b375;
    }
  }
  .wp-box {
    grid-area: wb;
    background-color: #21749b00;
    align-content: flex-start;
    i {
      color: #21749b8e;
    }
  }
  .elementor-box {
    grid-area: eb;
    align-self: flex-start;
    background-color: rgba(214, 73, 143, 0);
    i {
      color: rgba(214, 73, 143, 0.562);
    }
  }
  .bs-box {
    grid-area: bb;
    background-color: #63518000;
    i {
      color: #63518093;
    }
  }
  .skill-lists {
    display: flex;
    flex-direction: column;
    .skill-list-box {
      padding: 1em;
      margin-bottom: 1em;
      height: 125px;
      display: flex;
      align-items: flex-start;
      text-align: left;
      background-color: rgb(240, 240, 240);

      h3 {
        width: 50%;
      }
      p {
        margin: 0 0 0.25em 0.5em;
      }
    }
    // .languages {
    //   background-color: rgb(241, 241, 241);
    // }
  }
}

.projects {
  margin: 4em 1em 3em 1em;
  .projects-grid {
    margin-top: 3em;
    .project-card {
      margin-top: 2em;
      h3 {
        font-size: 1.5rem;
      }
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      padding: 2em 1em 0 1em;
      // background-color: #d8d8d898;
      .project-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0.5em;
        .project-description {
          font-size: 18px;
          line-height: 1.25;
          // word-spacing: 1.8px;
          letter-spacing: 0.5px;
        }
        .project-links {
          margin-top: 1em;
        }
        .project-link {
          font-size: 1.25rem;
          margin: 0 0.5em 0 0.5em;
        }
        .project-link i:hover,
        .project-link i:focus {
          color: $colorSecondary;
        }
        .project-tech {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          .tech-item {
            color: $colorPrimary;
            font-size: 0.75rem;
            margin-right: 0.25em;
            padding: 0.25em;
          }
        }
      }
      .project-image {
        border-radius: 10px 10px 0 0;
        margin-top: 2em;
        width: 75%;
        box-shadow: 0px -2px 20px 1px #35353593;
      }
    }
    .pc-llt {
      background-color: rgb(214, 231, 255);
    }

    .pc-ll {
      background-color: #58421928;
    }
    .pc-db {
      background-color: rgba(255, 187, 109, 0.267);
    }
    .pc-rpt {
      background-color: rgba(255, 237, 74, 0.267);
    }
    .pc-pb {
      // background-color: #d8d8d898;
      background-color: #70eaff28;
    }
    // .pc-ll:hover {
    //   background-color: #3e4242e5;
    //   h3,
    //   p,
    //   a,
    //   i,
    //   .tech-tem {
    //     color: #fff;
    //   }
    // }
  }
  .desktop-image {
    display: none;
  }
}

footer {
  margin: 8em 2em 2em 2em;
  .footer-main {
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 2.5rem;
    }
    .footer-links {
      margin: 2em 0 8em 0;
      h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5em;
        transition-duration: 250ms;
      }
      h3:hover,
      h3:focus {
        color: $colorSecondary;
      }
    }
  }
  span {
    font-family: $fontPrimary;
  }
}

@media screen and (min-width: 600px) {
  nav {
    // height: 40px;
  }
  html {
    font-size: 22px;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title-darker {
    color: $colorPrimary;
  }
  .header-container {
    margin: 0 3em 8em 3em;
    align-items: center;
    text-align: center;

    h1 {
      margin-bottom: 1em;
      font-size: 1.2rem;
    }
    p {
      font-size: 2.3rem;
      font-weight: 900;
      max-width: 800px;
    }
    a {
      font-size: 0.75rem;
    }
  }

  .skills {
    margin: 0 3em;
    text-align: center;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    width: 80%;
    h2 {
      max-width: 650px;
      margin: 0 auto;
      // font-size: 1.75rem;
    }

    .skills-grid {
      margin-top: -17em;
    }
    // .skills-grid {
    //   margin: 0 auto;
    //   max-width: 800px;
    //   margin-top: 6em;
    //   grid-auto-rows: 150px;
    // }
    .skill-list-box p,
    .skill-list-box h3 {
      font-size: 0.8rem;
    }
  }

  .projects {
    margin: 6em 3em;
    text-align: center;
    h2 {
      max-width: 650px;
      margin: 0 auto;
    }
  }
  footer {
    margin-top: 5em;
  }
}

@media screen and (min-width: 730px) {
  .skills {
    h2 {
      // font-size: 1.75rem;
    }
  }
  .projects {
    margin: 6em 3em;
    text-align: center;
    h2 {
      max-width: 650px;
      margin: 0 auto;
    }

    .projects-grid {
      margin-top: 4em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .project-card {
        max-width: 1000px;
        max-height: 500px;
        h3 {
          font-size: 1.5rem;
        }
        flex-direction: row;
        // padding: 2em 0 2em 2em;
        padding: 2em;
        .project-info {
          max-width: 500px;
          align-items: flex-start;
          text-align: left;

          .project-links {
            margin-top: 1em;
          }
          .project-link {
            font-size: 1.25rem;
            margin: 0 0.5em 0 0.5em;
          }
          .project-tech {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            .tech-item {
              color: $colorPrimary;
              font-size: 0.75rem;
              margin-right: 0.25em;
              padding: 0.25em;
            }
          }
        }
        .project-image {
          display: none;
        }
        .desktop-image {
          display: initial;
          width: 40%;
          max-width: 250px;
          margin-left: 2em;
          // border-radius: 10px 0 0 10px;
          border-radius: 6px 6px 6px 6px;
          // box-shadow: -20px 0 20px -5px #69696938;
          box-shadow: 0 0 20px 10px #33333338;
        }
      }
    }
  }
  footer {
    margin: 3em;
    .footer-main {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      h1 {
        // width: 60%;
      }
      .footer-links {
        margin-top: 0;
        margin-right: 2em;
        h3 {
        }
      }
    }
  }
}
@media screen and (min-width: 1000px) {
  nav {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 0;
    border-bottom: 0px solid white;
    h3 {
      margin: 1.5em 0 0 2em;
    }
    .nav-links {
      margin: 1.5em 3em 0 0;
    }
  }
  .header-container a,
  .header-container h4 {
    font-size: 0.75rem;
    // font-size: 16px;
  }
  .header-container h1 {
    font-size: 1rem;
  }
  .header-socials i {
    font-size: 1.5em;
  }
  .skills {
    h2 {
      font-size: 1.5rem;
    }
    p {
      font-size: 0.75rem;
    }
    margin: 1em 3em 2em 3em;
    text-align: center;
    width: 80%;

    .skills-grid {
      margin: -14.5em auto 0 auto;
      max-width: 1400px;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      grid-auto-rows: 100px 75px 50px 125px 50px 100px;
      grid-template-areas:
        '. . . . hb . . . . . . .'
        '. . . . . . . jb . rb . .'
        '. cb . . . . . . . . . .'
        '. . . . . . . . . . gb .'
        '. . sb . . . . . eb . . .'
        '. . . bb . . wb . . . . .';
    }
    .skills-item h4,
    .skills-item i {
      transition-duration: 200ms;
    }
    .skills-item h4 {
      font-size: 0.65rem;
      opacity: 0;
      margin-top: 0;
      padding-top: 0;
    }
    .skills-item i {
      font-size: 2.25rem;
      margin-bottom: 0.15em;
      padding-bottom: 0;
    }
    .skills-item:hover {
      i {
        color: $colorSecondary;
      }
      // background-color: black;
      h4 {
        opacity: 0.5;
      }
    }
    // .skills-item {
    //   font-size: 1.2rem;
    //   display: flex;
    //   flex-direction: column;
    //   // align-items: center;
    //   justify-content: center;
    //   padding: 1em;
    //   gap: 1em;
    //   background-color: gray;
    //   i {
    //     font-size: 1.75rem;
    //   }
    // }

    .html-box {
      grid-area: hb;

      background-color: #f0652900;
      i {
        color: #f0652965;
      }
    }
    .css-box {
      grid-area: cb;
      align-self: flex-end;
      background-color: rgba(106, 179, 253, 0);
      i {
        color: rgba(106, 179, 253, 0.623);
      }
    }
    .js-box {
      grid-area: jb;
      background-color: #f0da4f00;
      align-items: flex-start;
      i {
        color: #f0da4f86;
      }
    }
    .react-box {
      grid-area: rb;
      align-self: flex-end;
      background-color: #61dcfb00;
      i {
        color: #61dcfba8;
      }
    }
    .sass-box {
      grid-area: sb;
      align-self: flex-end;
      background-color: rgba(204, 102, 153, 0);
      i {
        align-self: flex-end;
        color: rgba(204, 102, 153, 0.432);
      }
    }
    .git-box {
      grid-area: gb;
      background-color: #d8d8d800;
      align-items: flex-end;
      i {
        align-self: flex-end;
        color: #b3b3b375;
      }
    }
    .wp-box {
      grid-area: wb;
      background-color: #21749b00;
      i {
        color: #21749b8e;
      }
    }
    .elementor-box {
      grid-area: eb;
      align-self: flex-start;
      background-color: rgba(214, 73, 143, 0);
      i {
        color: rgba(214, 73, 143, 0.562);
      }
    }
    .bs-box {
      grid-area: bb;
      background-color: #63518000;
      i {
        color: #63518093;
      }
    }
    // .figma-box {
    //   grid-area: 5/1/6/3;
    //   background-color: #00c05b;
    // }

    .skill-lists {
      margin: 5em auto 0 auto;
      flex-direction: row;
      justify-content: space-evenly;
      gap: 1em;
      max-width: 1000px;
      .skill-list-box {
        flex: 1;
      }
    }
  }
  .projects {
    h2 {
      font-size: 1.5rem;
    }
  }
  footer {
    max-width: 800px;
    margin: 3em auto 3em auto;
    .footer-main {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      h1 {
        font-size: 4rem;
      }
      .footer-links {
        margin-top: 0;
        margin-right: 2em;
        h3 {
          font-size: 1.75rem;
        }
      }
    }
  }
}
